{% extends "layout.html" %}

        {% block content %}
<div class="container col-3">

    <form action="" method="POST">
            {{ form.csrf_token }}
    <div class="form-group">

        <span class="label label-info">
          Enter {{form.url.label}}:
        </span>

        <div class="form-group">
            {% if form.url.errors %}
                {{ form.url(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.url.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.url(class="form-control form-control-lg") }}
                <span> <br> </span>
            {% endif %}


            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </div>
    
    </form>

    <br>
    {% if url %}

    URL REVERSED IS : {{ url }}

    {% else %}
        <br>
    {% endif %}

    {% if not display %}
<div class="btn-inline">
    <a class="btn btn-outline-success" href="/login" role="button">LOGIN</a>
    <a class="btn btn-outline-info" href="/register" role="button">REGISTER</a>
</div>
    {% endif %}

</div>
        {% endblock content %}