{% extends "layout.html" %}

        {% block content %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Short-Link</th>
              <th scope="col">Long-Link</th>
              <th scope="col">Date-Created</th>
              <th scope="col">Click-Count</th>
            </tr>
          </thead>
          <tbody>
              {% for link in user.links %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td><a href="#">{{ link.short_link }}</a></td>
              <td>{{ link.long_link }}</td>
              <td>{{ link.date_created }}</td>
              <td>{{ link.clicks|length }}</td>
              <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="#" class="btn btn-info">Stat</a>
                      <a href="#" class="btn btn-secondary">Edit</a>
                      <a href="#" class="btn btn-danger">Delete</a>
                  </div>
              </td>
            </tr>
            {% endfor %}
          
          </tbody>
        </table>
        <div class="text-center">
            <a href="#" class="btn btn-info col-2">Add</a>
        </div>
        
        {% endblock content %}
