{% extends "layout.html" %}

        {% block content %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Short-Link</th>
              <th scope="col">Long-Link</th>
              <th scope="col">Date-Created</th>
              <th scope="col">Click-Count</th>
            </tr>
          </thead>
          <tbody>
              {% for link in user.links %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td><a href="#">{{ link.short_link }}</a></td>
              <td>{{ link.long_link }}</td>
              <td>{{ link.date_created.strftime('%Y-%m-%d') }}</td>
              <td>{{ link.clicks|length }}</td>
              <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="#" class="btn btn-info">Stat</a>
                      <a href="#" class="btn btn-secondary">Edit</a>
                      <a href="#" class="btn btn-danger">Delete</a>
                  </div>
              </td>
            </tr>
            {% endfor %}
          
          </tbody>
        </table>




<div class="content-section col-3">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Link</legend>
            <div class="form-group">
                {{ form.short_link.label(class="form-control-label") }}
                {% if form.short_link.errors %}
                    {{ form.short_link(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.short_link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.short_link(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.long_link.label(class="form-control-label") }}
                {% if form.long_link.errors %}
                    {{ form.long_link(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.long_link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.long_link(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
</div>
      {% endblock content %}
