{% extends "layout.html" %}

        {% block content %}

    <form action="" method="POST">
            {{ form.csrf_token }}

        <div class="form-group">
          {{form.url.label(class="form-control-label")}}
        </div>

    <div class="form-inline">
        {{ form.url(class="form-control form-control-lg") }}
        <button type="submit" class="btn btn-outline-info">Extend</button>
    </div>
    </form>

    <br>

    URL IS {{ url }}

<div class="btn-inline">
    <a class="btn btn-outline-success" href="/login" role="button">LOGIN</a>
    <a class="btn btn-outline-info" href="/register" role="button">REGISTER</a>
</div>
        {% endblock content %}